*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
 
}
.topContainer{
    padding: 69px 150px;
}

@media screen and (max-width:780px) {
    .topContainer{
        padding: 20px 50px;
    }
}